# This file is used to configure the line ending behavior of certain file types in Git.

# .git* files
.gitattributes text eol=crlf
.gitignore text eol=crlf
.gitmodules text eol=crlf

# Text files
*.txt text eol=crlf

# Markdown files
*.md text eol=crlf

# YAML files
*.yaml text eol=crlf
*.yml text eol=crlf

# JSON files
*.json text eol=crlf

# XML files
*.xml text eol=crlf

# Front-end files
*.html text eol=crlf
*.htm text eol=crlf
*.css text eol=crlf
*.js text eol=crlf
*.ts text eol=crlf
*.php text eol=crlf

